@charset "utf-8";
@import "./mixin.scss";

i{
  $colors :#1b969a,#B6B4B2,#CF8C51;
  &.notified{@include tag(nth($colors, 1));}
  &.unnotified{@include tag(nth($colors, 2));}
  &.requested{@include tag(nth($colors, 3));}
}

.gis_alert{flex:0 56px;display:flex;justify-content:center;align-items:center;gap:5px;color:#fff;font-size:20px;background-color:#293141;
  strong{color:#b5fff4;}
}

.tab_list{display:flex;padding:20px;border-bottom:1px solid $border_gray;
  li{flex:1;
    @for $i from 1 through 5{
      &:nth-child(#{$i}) label::before{background-position-x: (($i - 1) * - 43px) + 9px ;}
    }
  }
  label{position:relative;display:flex;flex-direction:column;align-items:center;justify-content:center;gap:9px;font-size:12px;letter-spacing:-.05em;font-size:13px;gap:5px;color:#999;cursor:pointer;
    &::before{@include shape(43px,43px);border-radius:50%;background:url(../images/ico_gis_lnb.png) 0 8px no-repeat, #f4f5f7;}
    &:has(input[type=checkbox]:checked){color:$skyblue;font-weight:600;
      &::before{background-position-y:-33px;background-color:$skyblue;}    
    }
  }
  input{-webkit-appearance:none;-moz-appearance:none;-o-appearance:none;appearance:none;outline:none;box-shadow:none;vertical-align:middle;overflow:hidden;}
  input[type=checkbox]{position:absolute;width:0px;height:0px;overflow:hidden;opacity:0;}
}
$panelWidth : 370px;
.gis_ctrl{width:$panelWidth;box-shadow:0.3px 4px 5px 0 rgba(0, 0, 0, 0.2);
  .panel_wrap{width:$panelWidth;}
  .tit{padding:20px 15px 15px 20px;border-bottom-width:0;}
  .section_body{flex:1;overflow-y:auto;}
  .tab{margin-bottom:0;}
}
.panel{
  .tit h2{color:$skyblue;font-size:15px;font-weight:600;}
  .panel_content{padding:0 20px;}
  .tbl_wrap{height:calc(100vh - 290px);min-height:509px;}
}
.request_wrap{width:100%;height:100%;background-image: url(../images/temp/temp_map_cj.jpg);
// background-color:#90B9CF;
	.btn_map{position:absolute;right:10px;top:10px;z-index:10;}
	.type_wrap{margin-left:5px;
		li{vertical-align:text-top;}	
	}
}
.map_content{position:relative;}
.btn_map > button{@include shape(55px,51px);
  @for $i from 1 through 3{
    &:nth-child(#{$i}){background-image:url(../images/img_map_0#{$i}.png);}
  }
	&.on,
	&:hover{background-position-y:bottom;}
}
.legend_filter{position:absolute;right:13px;top:80px;min-width:208px;background-color:#fff;border-radius:3px;overflow:hidden;
  summary{display:flex;align-items:center;background-color:$bg_gray;font-weight:600;font-size:14px;color:#000;padding:7px 15px;list-style:none;cursor:pointer;
    &::-webkit-details-marker,&::maker{ display:none;}
    &::after{@include fontello('\e86a');margin-left:auto;}
  }
  [open] summary::after{content:'\e86b';color:#9c9c9c;}
  ul{display:flex;flex-direction:column;gap:5px;padding:15px;}
  label{gap:5px;}
  i{display:flex;align-items:center;gap:5px;line-height:18px;font-size:12px;color:#555;
    &::before{@include shape(18px,18px);background:url(../images/ico_legend.png) no-repeat;}
  }
  .rainGauge::before{background-position:1px 1px;}
  .waterGauge::before{background-position:-20px 1px;}
  .snowGauge::before{background-position:-41px 1px;}
  .seismicMeter::before{background-position:1px -20px;}
  .AWS::before{background-position:-20px -20px;}
  .cctv::before{background-position:-41px -20px;}
  .BIS::before{background-position:1px -40px;}
  .CDB::before{background-position:-20px -40px;}
  .LDB::before{background-position:-41px -40px;}
  .TDB::before{background-position:-62px -40px;}
  .PDB::before{background-position:1px -62px;}
  .ADD::before{background-position:-20px -62px;}
  .VBS::before{background-position:-41px -62px;}
  .VNS::before{background-position:-62px -62px;}
  .VNI::before{background-position:1px -83px;}
  .VNO::before{background-position:-20px -83px;}
  .RAS::before{background-position:-41px -83px;}
  .DSB::before{background-position:-62px -83px;}
}
.ol-viewport{position:relative;width:100%;height:100%;}
.symbol{position:absolute;left:var(--left);right:var(--right);top:var(--top);}
.terminal{
  .symbol > button{background-image:url(../images/symbol_ok.png);@include shape(33px,33px);
    &.fail{background-image:url(../images/symbol_fail.png);}
  }
  .BIS, .CDB, .LDB, .TDB, .PDB, .ADD{background-position-x:0;}
  .VBS, .VNS, .VNI, .VNO, .RAS, .DSB{background-position-x:-40px;}
  .BIS, .VBS{background-position-y:0;}
  .VNS, .CDB{background-position-y:-40px;}
  .VNI, .LDB{background-position-y:-80px;}
  .VNO, .TDB{background-position-y:-120px;}
  .RAS, .PDB{background-position-y:-160px;}
  .DSB, .ADD{background-position-y:-200px;}
  .BIS::before, .CDB::before, .LDB::before, .TDB::before, .PDB::before, .ADD::before{background-position-x:0;}
  .VBS::before, .VNS::before, .VNI::before, .VNO::before, .RAS::before, .DSB::before{background-position-x:-25px;}
  .BIS::before, .VBS::before{background-position-y:0;}
  .VNS::before, .CDB::before{background-position-y:-25px;}
  .VNI::before, .LDB::before{background-position-y:-50px;}
  .VNO::before, .TDB::before{background-position-y:-75px;}
  .RAS::before, .PDB::before{background-position-y:-100px;}
  .DSB::before, .ADD::before{background-position-y:-125px;}
}
.DAlert .symbol{
  & > strong{display:flex;align-items: center;gap:5px;color:#fff;background-color:#fc6c6d;border:1px solid #ff0405;border-radius:20px;padding:5px 15px;font-size:16px;
    img{width:35px;}
  }
  &::before{position:absolute;overflow:hidden;transform:scaleX(1.2) rotate(45deg);background-color:#fc6c6d; border: 1px solid #ff0405;border-width: 0 1px 1px 0;left:29px;bottom:-4px;@include shape(7px,7px);}
}
.iot_desc{position:absolute;left:0;bottom:47px;width:90px;background-color:#fff;border-radius:5px;border:1px solid #000;text-align:center;
  &:has(.aws_val){min-width:160px;}
  .val{font-weight:800;font-size:30px;color:#333;line-height:1;}
  a{display:block;}
  strong{display:block;color:#fff;font-size:13px;padding:5px;border-radius:3px 3px 0 0;
    &+div{padding:5px;color:#333;font-size:15px;border-radius:0 0 3px 3px;}
  }
  .time{color:#777;font-size:10px;text-align:right;margin-top:5px;}
  &::before{@include down_arrow(7px,$border:#333){left:11px;bottom:-5px;};}
  .aws_val{display:flex;justify-content:center;align-items:center;gap:20px;
    li{
      &:last-child em::before{content:'\e9e3';}
    }
    em{display:block;color:#a5a7aa;font-size:10px;text-align:left;margin:5px 0;
      &::before{@include fontello('\e9f6');}      
    }
  }
  @for $i from 1 through 2{
    &.lv#{$i}{border-color:darken(nth($riskLevel, $i), 5);
      strong{background-color:nth($riskLevel, $i);@if $i== 1 {color:#000;background-color:lighten(nth($riskLevel, $i), 20);}}
      &::before{border-color:darken(nth($riskLevel, $i), 5);border-width:0 1px 1px 0;}
    }
  }
}

.layer{display:none;position:absolute;left:100%;top:0;width:300px;background-color:#fff;border-radius:5px;padding:15px;border:1px solid #b4b4b4;box-shadow:0 2px 9px rgba(0, 0, 0, .22);z-index:110;margin:-8px 0 0 10px;
  header{display:flex;align-items:start; border-bottom:1px solid $border_gray;padding-bottom:10px;
    span{display:block;font-size:12px;color:#999;margin-bottom:5px;}
	  strong{flex:1;font-size:15px;}
  }
	.btn_cross::before{color:#bdbdbd;font-size:30px;}
	.lst{padding:10px;background-color:$bg_gray;
		li{display:flex;align-items:flex-start;color:#555;
      &:not(:first-of-type){margin-top:5px;}
    }		
		em{flex-shrink:0;width:70px;margin-right:10px;font-weight:bold;color:#333;
			&::before{content:"·";margin-right:5px;}
		}
		.btn_del{position:absolute;right:17px;top:17px;
			&::before{color:#555;font-size:14px;}
		}
	}
  .btn_wrap{display:flex;justify-content:center;align-items:center;gap:5px;margin-top:10px;
    button{@include btn(#DFEEFD,#1171d7,#1171d7,$x:10px,$y:5px);&{border-radius:12px;font-size:12px;}}
  }
}

.warningLog{
  .status{display:inline-flex;margin-left:auto;gap:10px;
    li{
      &:nth-child(2){color:$skyblue;}
      &:nth-child(3){color:darken($coral, 10);}
    }
  }
  .tbl_area{height:305px;}
  .i_success{@include tag($mistblue);}
  .i_fail{@include tag($coral);}
}